<!DOCTYPE html>
<html lang="en" class="bg-gray-50">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Daily Todos</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                content: [],
                theme: { extend: {} }
            }
        </script>
    </head>
    <body class="min-h-screen py-8 px-4">
        <div class="max-4-4xl mx-auto">
            <h1 class="text-4xl font-bold text-center mb-10 text-gray-800">📅 Daily Todos</h1>

            <div class="space-y-8">
                {{range $date, $tasks := .}}
                    <div class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden">
                        <div class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white px-6 py-4 font-semidbold text-lg">
                            {{ $date}}
                            <span class="text-sm font-noraml opacity-75">({{ len $tasks }} tasks)</span>
                            
                            <div class="divide-y">
                                {{range $tasks}}
                                    <div class="p-6 hover:bg-gray-50 transition">
                                        <div class="flex items-start gap-4">
                                            <div class="flex-1">
                                                <h3 class=""font-semibold text-xl text-gray-800>{{.Title}}</h3>
                                                <p class="text-gray-600 mt-2">{{.Description}}</p>

                                                {{if .Link}}
                                                    <a href="{{.Link}}" target="_blank"
                                                     class="inline-flex items-center gap-2 mt-3 text-blue-600 hover:text-blue-700 font-medium text-sm">
                                                     🔗 Open Link
                                                    </a>
                                                {{end}}
                                            </div>
                                        </div>
                                    </div>
                                {{end}}

                                {{if eq (len $tasks) 0}}
                                    <div class="p-12 text-center text-gray-400">
                                        Not tasks for this day
                                    </div>
                                {{end}}
                            </div>
                        </div>

                    </div>
                {{end}}
            </div>
        </div>        
    </body>
</html>